#copyButton, #helpMessage {
    -fx-text-fill: #4b3de3;
}

#copyButton {
    -fx-background-color: white;
}

#copyButton:hover {
    -fx-background-color: gray;
}

#copyButton:armed {
    -fx-background-color: dimgray;
}

#helpMessageContainer {
    -fx-background-color: derive(#dfe8f8, 20%);
}
